PORT=5000
MONGODB_URI=mongodb://localhost:27017/wfc-gym
JWT_SECRET=your-secret-key-change-this-in-production
CLOUDINARY_CLOUD_NAME=dofxwhwbv
CLOUDINARY_API_KEY=173583618628646
CLOUDINARY_API_SECRET=PSz0Q9B-KioxszDb6inTUzJaAO8
NODE_ENV=development
